
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/index.css" rel="stylesheet" />
@{
    var valueAccessor = "valueAccessorFn";

    var ChildGrid = new Syncfusion.EJ2.Grids.Grid()
            {
                DataSource = ViewBag.DataSource,
                QueryString = "ProjectId",
                HierarchyPrintMode = Syncfusion.EJ2.Grids.HierarchyGridPrintMode.All,
                Columns = new List<Syncfusion.EJ2.Grids.GridColumn>
                {
                    new Syncfusion.EJ2.Grids.GridColumn(){ Field="ItemName", HeaderText="Product", Width="150" },
                    new Syncfusion.EJ2.Grids.GridColumn(){ Field="Qty", HeaderText="Quantity", Width="120" },
                    new Syncfusion.EJ2.Grids.GridColumn(){ Field="Currency", HeaderText="Currency", Width="120" },
                    new Syncfusion.EJ2.Grids.GridColumn(){ Field="ApproxSellPriceExVAT", HeaderText="Unit Price", Width="120" },
                }
            };
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
            <li class="nav-item">
                <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                    <span>List View</span>
                </a>
            </li>
            <li class="nav-item">
                <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                    <span>Status View</span>
                </a>
            </li>
            <li class="nav-item refresh_li" onclick="loadpage()">
                <a class="btn btn-primary a_Refresh"
                   asp-action="ReadFile" asp-controller="Home">
                    Refresh <i class="pe-7s-refresh-2"></i>
                </a>
            </li>
        </ul>
        <div class="loader_wrap" id="loader" style="display:none">
            <div class="d-flex justify-content-center align-items-center">
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card" id="refreshgred">
                    <div class="card-body">
                        <h5 class="card-title">Scs Records</h5>
                        <form class="">
                            <ejs-grid id="Grid" width="825" childGrid="ChildGrid" allowPaging="true" hierarchyPrintMode="All" allowSorting="true" allowFiltering="true">
                                <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="false" mode="Normal"></e-grid-editSettings>
                                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                                <e-data-manager url="/Home/UrlDataSource" crudUrl="/Home/CrudUpdate" adaptor="UrlAdaptor"></e-data-manager>
                                <e-grid-columns>
                                    <e-grid-column field="ProjectId" headerText="CS Deal Id" visible="false" valueAccessor="valueAccessor" width="120"></e-grid-column>
                                    <e-grid-column field="CustomerName" headerText="Customer Name" width="160"></e-grid-column>
                                    <e-grid-column field="ProjectName" headerText="Project Name" width="150"></e-grid-column>
                                    <e-grid-column field="PONumber" headerText="PO Number" width="150"></e-grid-column>
                                    <e-grid-column field="PODate" headerText="PO Date" width="150"></e-grid-column>
                                    <e-grid-column field="TotalQuantity" headerText="Total Quantity" width="150"></e-grid-column>
                                    <e-grid-column field="Currency" headerText="Currency" width="150"></e-grid-column>
                                    <e-grid-column field="POAmount" headerText="PO Amount" width="150"></e-grid-column>
                                    <e-grid-column field="CSStatus" headerText="CS Status" width="150"></e-grid-column>
                                    <e-grid-column field="DisplayStatus" headerText="Display Status" width="150"></e-grid-column>
                                    <e-grid-column field="ShipmentMethod" headerText="Shipment Method" width="170"></e-grid-column>
                                    <e-grid-column field="ProductionCompletion" headerText="Production Completion" width="200"></e-grid-column>
                                    <e-grid-column field="VesselETA" headerText="Vessel ETA" width="150"></e-grid-column>
                                    <e-grid-column field="VesselETD" headerText="Vessel ETD" width="150"></e-grid-column>
                                    <e-grid-column field="EstimatedDeliveryDate" headerText="Estimated Delivery Date" width="210"></e-grid-column>
                                    <e-grid-column field="ActualDeliveryDate" headerText="Actual Delivery Date" width="180"></e-grid-column>
                                    <e-grid-column field="PreProductionManager" headerText="Pre Production Manager" width="200"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane tabs-animation fade container-fluid" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card" id="statusview"style="background-color: transparent;box-shadow: none;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                @if (ViewBag.statusList != null)
                                                {
                                                    @foreach (var item in ViewBag.statusList)
                                                    {
                                                        <td>
                                                            <div class="main-card mb-3 card" style="background-color: transparent;box-shadow: none;">
                                                                <div style="width:200px">
                                                                    <div class="card-header bg-heavy-rain">
                                                                        @item
                                                                    </div>
                                                                    @if (ViewBag.Project != null)
                                                                    {
                                                                        @foreach (var project in ViewBag.Project)
                                                                        {
                                                                            if (item == project.DisplayStatus)
                                                                            {
                                                                                <div class="mb-3 card">
                                                                                    <div class="card-body card-body_status">
                                                                                        <div id="exampleAccordion" data-children=".item">
                                                                                            <div class="item">
                                                                                                <span> @project.ProjectName</span><br>
                                                                                                <button type="button" id="btnicon" onclick="ChangeIcon(this)" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#colapse_@project.ProjectId" class="m-0 p-0 btn btn-link">

                                                                                                    <i id="icon_@project.ProjectId" class="metismenu-state-icon pe-7s-angle-up caret-left"></i>
                                                                                                </button>
                                                                                                <div data-parent="#exampleAccordion" id="colapse_@project.ProjectId" class="collapse" style="">
                                                                                                    <p><b> Customer Name -</b> @project.CustomerName</p>
                                                                                                    <p><b> PO Number -</b> @project.PONumber</p>
                                                                                                    <p><b> PO Date -</b> @project.PODate</p>
                                                                                                    <p><b> Total Quantity -</b> @project.TotalQuantity</p>
                                                                                                    <p><b> Currency -</b> @project.Currency</p>
                                                                                                    <p><b> PO Amount -</b> @project.POAmount</p>
                                                                                                    <p><b> CSS tatus -</b> @project.CSStatus</p>
                                                                                                    <p><b> Shipment Method -</b> @project.ShipmentMethod</p>
                                                                                                    <p><b> Production Completion -</b> @project.ProductionCompletion</p>
                                                                                                    <p><b> Vessel ETA -</b> @project.VesselETA</p>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/siteJs/index.js">
</script>
@section Scripts{
<script>
    function valueAccessorFn(field, data, column) {
        var value = data[field];
        value =  'CS ID- ' + value ;
        return value;
    }
    function ChangeIcon(e)
    {
        var i = e.children[0];
        var c = i.attributes['1']
        var id= i.attributes['0'];
        var btnid = "#"+id.ownerElement.id;
        var className=c.ownerElement.className;
        if(className == 'metismenu-state-icon pe-7s-angle-up caret-left')
        {
            $(btnid).removeClass("metismenu-state-icon pe-7s-angle-up caret-left").addClass("metismenu-state-icon pe-7s-angle-down caret-left");
        }
        else{
             $(btnid).removeClass("metismenu-state-icon pe-7s-angle-down caret-left").addClass("metismenu-state-icon pe-7s-angle-up caret-left");
        }

    }

</script>
}
<script>
   
    function loadpage()
    {
        $("#refreshgred").hide();
        $("#statusview").hide();
        $("#loader").show();
    }
    
</script>